/*   GENERAL          */
/**************************************************************************** */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
}

/*   TARJETAS          */
/**************************************************************************** */
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
}

.card {
  margin: 40px;
  position: relative;
  max-width: 250px;
  max-height: 350px;
  box-shadow: 0 20px 30px -9px black;
  transition: 0.5s;
  grid-area: article;
}

.card-title {
  display: block;
  text-align: center;
  color: #fff;
  background-color: #6184a8;
  padding: 2%;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.card img {
  max-width: 250px;
  max-height: 350px;
  object-fit: cover;
  display: block;
  position: relative;
}

.card-data {
  padding: 2%;
  display: block;
  text-align: left;
  background-color: white;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  font-size: 0.8em;
}

.card:hover {
  opacity: 0.8;
  margin-top: 30px;
}

h1 {
  font-size: 2.8rem;
  color: #fff;
  margin: 0px 0 20px 0;
  text-align: center;
}

/*   GRID          */
/**************************************************************************** */
.grid-1 {
  display: grid;
  width: 100%;
  margin: 0 auto;

  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 80px 1fr 30px;
  grid-gap: 5px;

  grid-template-areas:
    "header   header   header  header  header"
    "sidebar  main     main     main   main"
    "footer   footer   footer  footer  footer";
}

.item-1 {
  grid-area: header;
  background: #b03532;
}

.item-2 {
  grid-area: main;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-gap: 20px;
  width: 100%;
  height: 100%;
}

.item-3 {
  grid-area: sidebar;
  border: 2px solid #ccc !important;
  border-radius: 15px;
  margin-left: 10px;
}

.item-4 {
  grid-area: footer;
  background: #b03532;
}

/*   SLIDERS          */
/**************************************************************************** */
.slidecontainer {
  margin-top: 20px;
  margin-left: 5%;
}

.slider {
  -webkit-appearance: none;
  width: 90%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: opacity 0.15s ease-in-out;
  transition: opacity 0.15s ease-in-out;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  background: #930a0a;
  cursor: pointer;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}
